.ps-sidebar {
  padding: 0 !important;
  position: sticky;
  z-index: 1000;
  height: 100vh;
  background: #2f517f;
  border-right: 1px solid #ececec;
  color: white;
  .ps-side-brand {
    padding: 10px;
    border-bottom: 1px solid grey;
  }
  .ps-links {
    .nav-item {
      padding: 0.35rem 0;
      .ps-side-link {
        color: #7e9cbb;
        font: 1rem/0.875 var(--font-family-sans-serif);
      }
      &.active,
      &:hover {
        background: #415e86;
        .ps-side-link {
          color: #f7fdfe;
          font-weight: 700;
        }
      }
      .ps-side-icon {
        width: 2.5rem;
      }
      list-style: none;
    }
  }
}
